/* Body */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #093C5D;
  line-height: 1.6;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3B7597;
  padding: 15px 40px;
  color: #fff;
}

nav div {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  gap: 40px;
}

/* Text */
.hero-text {
  width: 50%;
}

.hero-text h1 {
  font-size: 40px;
  color: #fff;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 18px;
  color: #fff;
  margin-bottom: 20px;
}

/* Button */
button {
  padding: 12px 25px;
  border: none;
  background-color: #1abc9c;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #16a085;
}

/* Flip Card */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 400px;
  perspective: 1000px; /* efek 3D */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg); /* flip saat hover */
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 20px;
  overflow: hidden;
}

/* Depan (foto) */
.flip-card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Belakang (biodata) */
.flip-card-back {
  background-color: #3B7597;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(82, 98, 192);
  color: #fff;
  padding: 10px;
}
